:root {
  --yellow: #fcc01b;
  --dark-yellow: rgba(176, 132, 10, 1);
  --background-yellow: #e5af19;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
body,
ul {
  margin: 0;
  padding: 0;
}

/* general styles */
.container {
  width: 1440px;
  padding-inline: 161px;
  margin: 0 auto;
}
h3 {
  -webkit-margin-start: 28px;
  margin-inline-start: 28px;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  margin: 0;
}
.order-now {
  background-color: var(--yellow);
  border: 1px solid #000;
  width: 152px;
  height: 56px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 12px 0px rgba(252, 192, 27, 0.16);
}

.order-now::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(./order.svg);
  background-repeat: no-repeat;
}
.order-now:hover {
  background-color: var(--dark-yellow);
  cursor: pointer;
}
img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
/* end of general styles */

/* start of navbar  */
.navbar {
  -webkit-margin-after: 103px;
  margin-block-end: 103px;
}
.navbar .container {
  display: flex;
  align-items: center;
  padding-block: 13px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.16);
}
.navbar .container .logo {
  -webkit-margin-end: 120px;
  margin-inline-end: 120px;
}
.navbar .container ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  -webkit-margin-end: 56px;
  margin-inline-end: 56px;
  line-height: 24px;
}

.navbar .container input[type="search"] {
  background-image: url(./searchIcon.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position-x: 10px;
  padding-left: 44px;
  width: 245px;
  height: 42px;
  border: 1px solid #000;
  border-radius: 8px;
  -webkit-margin-end: 56px;
  margin-inline-end: 56px;
}
.navbar .container input[type="search"]::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.navbar .container input[type="search"]::-moz-placeholder {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.navbar .container input[type="search"]:-ms-input-placeholder {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.navbar .container input[type="search"]::-ms-input-placeholder {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.navbar .container input[type="search"]::placeholder {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

/* end of navbar */

/* start of heading */
header {
  -webkit-margin-after: 30px;
  margin-block-end: 30px;
}
header .head .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-margin-after: 11px;
  margin-block-end: 11px;
}

header .head .order-now:first-of-type {
  -webkit-margin-end: 26px;
  margin-inline-end: 26px;
}
header .head .reserve {
  background-color: #fff;
  border-color: var(--yellow);
  box-shadow: none;
  width: 186px;
  height: 56px;
}
header .head .reserve::before {
  background-image: url(./reserve.svg);
}

header .products {
  background-color: var(--background-yellow);
}

.products .container {
  padding-block: 40px;
  display: flex;
  gap: 14px;
}
.products .product {
  flex-basis: 150px;
}
.products .container .product:first-child {
  flex-grow: 1;
  background-image: url(./images/Rectangle-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.products .container .product .content {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
}
.products .container .product .content span.title {
  font-size: 22px;
  font-weight: 700;
}
.products .container .product .content span.price {
  font-size: 64px;
  font-weight: 900;
  line-height: 76%;
}
.products .container .product .content span.price span {
  font-size: 18px;
  font-weight: 500;
}
.products .container .product:last-child .content {
  align-items: center;
}
.products .container .product:last-child .content {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
.products .container .product:last-child {
  position: relative;
  text-align: center;
}
.products .container .product:last-child::after {
  content: "show more";
  display: block;
  width: 129px;
  height: 56px;
  background-color: #000;
  border-radius: 8px;
  position: absolute;
  top: 122px;
  left: 11.5px;
  color: var(--yellow);
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products .container .product:nth-child(3) .content,
.products .container .product:nth-child(5) .content {
  flex-direction: column-reverse;
}

/* start main styling */
main {
  -webkit-margin-after: 91px;
  margin-block-end: 91px;
}
main .content {
  background-color: var(--background-yellow);
}

main .content .container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding-block: 30px;
  font-size: 40px;
  font-weight: 600;
  -moz-column-gap: 10px;
  column-gap: 10px;
  line-height: 48px;
}
main .content .container .side-1 div:first-child,
main .content .container .side-3 div:first-child {
  font-size: 56px;
  font-weight: 800;
  color: #fff;
  line-height: 64px;
}
main .content .container .pictures {
  font-size: 0;
}
main .content .container .side-1 {
  min-width: 234px;
  display: flex;
  flex-direction: column;
  gap: 114px;
  text-align: center;
}

main .content .container .side-3 {
  min-width: 217px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  text-align: center;
}
.rotated {
  transform: rotate(-45deg);
}
/* end main section */

/* start footer  */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-margin-after: 76px;
  margin-block-end: 76px;
}
footer .container > img {
  width: 270px;
  height: 64px;
  -webkit-margin-after: 40px;
  margin-block-end: 40px;
}
footer .container ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
footer .container ul li img {
  width: 64px;
  height: 64px;
}
/* end Footer */
